{% extends "base.html" %} 
{% block title %}Home Page{% endblock %} 
{% block content %}

<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('static/assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Rent Cargo Space</h2>
                </div>
            </div>
        </div>
    </div>

    {% for rent_obj in data %}
    <div style="display: flex; align-items: center; justify-content: center; margin: 0 auto; border: 1px solid #ccc; padding: 10px; margin-top: 20px; width:800px; height:280px; position: relative;">
        <div style="flex: 1;">
            <!-- Display the image on the left side -->
            <img style="height: auto; width: 250px; height: 200px;" src="static/assets/img/him.jpg" alt="Image">
        </div>
        <div style="flex: 2; padding: 10px;"> <!-- Adjust the padding as needed -->
            <!-- Display the rent_obj data on the right side -->
            <div style="margin-bottom: 10px;">
                <strong>Date:</strong> {{ rent_obj.date }}
            </div>
            <div style="margin-bottom: 10px;">
                <strong>Time:</strong> {{ rent_obj.time }}
            </div>
            <div style="margin-bottom: 10px;">
                <strong>Destination:</strong> {{ rent_obj.destination }}
            </div>
            <div style="margin-bottom: 10px;">
                <strong>Volume:</strong> {{ rent_obj.volume }} cubic meters
            </div>
            <div style="margin-bottom: 10px;">
                <strong>Weight:</strong> {{ rent_obj.weight }} kg
            </div>
        </div>
        <div style="position: absolute; bottom: 10px; right: 10px;">
            <a href="manage.html?rent_button=1">
            <button name="rent_button" style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; cursor: pointer; border-radius: 15px;">Request Space</button>
            </a>
           
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
