{% extends "base.html" %} 

{% block title %}Sign Up{% endblock %} 
{% block content %}
<section
  id="login"
  class="login d-flex align-items-center"
  style="background-color: #2b3f5e"
>
  <div class="container">
    <form method="POST">
      <h3 align="center"><font color="white">Sign Up</font></h3>
      <div class="form-group">
        <label for="username"><font color="white">Username</font></label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter username"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="email"><font color="white">Email Address</font></label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="role"><font color="white">Role</font></label>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="roleDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Role
            </button>
            <div class="dropdown-menu" aria-labelledby="roleDropdown">
                <a class="dropdown-item" href="#" data-value="User">User</a>
                <a class="dropdown-item" href="#" data-value="Supplier">Supplier</a>
                <a class="dropdown-item" href="#" data-value="Port_Staff">Port Staff</a>
            </div>
            <input type="hidden" id="selectedRole" name="role" value=""> <!-- This hidden input will store the selected value -->
        </div>
    </div>
    
    
      <br>
      <div class="form-group">
        <label for="password1"><font color="white">Password</font></label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="password2"><font color="white">Password (Confirm)</font></label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script>
    $(document).ready(function () {
        $(".dropdown-item").click(function () {
            var selectedRole = $(this).data("value");
            $("#selectedRole").val(selectedRole);
            $("#roleDropdown").text(selectedRole);
        });
    });
</script>

</section>
<!-- End Services Section -->
{% endblock %}
